body {
    background-color: rgb(219, 228, 237);
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    background-color: white;
    height: 50vh;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.login-form:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    transition: 0.3s;
}

.social-media-handles img {
    width: 20px;
    margin: auto;
}

.social-media-handles span {
    margin-right: 20px;
}

.form-header {
    text-align: center;
    flex: 0.1;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.social-media-handles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 0.1;
    padding: 10px;
}

.social-media-handles .facebook, .social-media-handles .twitter {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 37%;
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.social-media-handles .facebook {
    background-color: #4267B2;
    margin-left: 27px;
}

.social-media-handles .twitter {
    background-color: rgb(29, 161, 242);
    margin-right: 27px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 5px;
}

.form input {
    display: block;
    width: 80%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: rgb(205, 213, 221);
}

.remember-creds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.1;
    padding: 5px;
}

.creds {
    flex: 0.8;
    padding: 10px;
    margin-left: 20px;
}

.forgot {
    margin-right: 30px;
}

.forgot .forgot-pass {
    color: rgb(154, 70, 187);
    cursor: pointer;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-button button {
    width: 250px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(154, 70, 187);
    border-radius: 6px;
    border: 1px solid rgb(219, 228, 237);
    cursor: pointer;
}

.footer {
    flex: 0.1;
    text-align: center;
    padding: 5px;
}

.footer .signup {
    color: rgb(154, 70, 187);
    cursor: pointer;
}